<div class="page-title mat-elevation-z0">
  <h1>Administration</h1>
</div>

<div class="page-container">
  <mat-tab-group color="accent">
    <mat-tab label="Users">
      <ng-template mat-tab-label>
        <mat-icon style="margin-right: 10px">people_outline</mat-icon>
        Users
      </ng-template>

      <div class="tab-content">
        <button mat-flat-button color="accent" (click)="generateInvitation()">
          <mat-icon>person_add_alt_1</mat-icon> Generate invitation
        </button>
      </div>
    </mat-tab>

    <mat-tab label="Empty"> Content 2 </mat-tab>
    <mat-tab label="Empty"> Content 3 </mat-tab>
  </mat-tab-group>
</div>
