.topbar {
  position: absolute;
  display: block;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  margin: 0;

  mat-toolbar {
    background-color: rgba($color: #fff, $alpha: 0.2);
    backdrop-filter: blur(10px);
  }

  .title {
    flex: 0 0 auto;
    display: inline-flex;
    height: inherit;
    align-items: center;
    cursor: pointer;
    margin: auto;
    font-size: 1.4em;

    img {
      display: inline;
      max-height: 100%;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }
}
