<div class="topbar">
    <mat-toolbar color="primary" class="mat-elevation-z6">
        <mat-toolbar-row>
            <span class="bar-logo"><img src="../../../../assets/logo.png"></span>
            <span>Cookwi</span>
            <span class="bar-spacer"></span>
            <mat-icon class="bar-icon" aria-hidden="false" aria-label="My account">account_circle</mat-icon>
            <mat-icon class="bar-icon" aria-hidden="false" aria-label="Need help">help_outline</mat-icon>
        </mat-toolbar-row>
    </mat-toolbar>
</div>