@import "../variables.scss";

.navbar {
    position: relative;
}

.bar-spacer {
    flex: 1 1 auto;
}

.bar-icon {
    padding: 0 14px;
}

.title {
    background-color: $primary-light;
    height: 80px;

    h1 {
        margin: 0;
        padding-left: 40px;
        padding-top: 25px;
        font-size: 26px;
        font-weight: 100;
        color: white;
    }
}