<div class="navbar">
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row>
      <span>Cookwi</span>
      <span class="bar-spacer"></span>
      <mat-icon class="bar-icon" aria-hidden="false" aria-label="My account">account_circle</mat-icon>
      <mat-icon class="bar-icon" aria-hidden="false" aria-label="My account">help_outline</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="title mat-elevation-z0">
  <h1>Mes recettes</h1>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
