<div class="page-title mat-elevation-z0">
  <h1>La petite histoire de Cookwi</h1>
</div>

<div class="outer-container">
  <div class="page-container history-container">
    <div class="home-banner">
      <mat-card
        class="banner-text mat-elevation-z4"
        fxLayout="row"
        fxLayoutGap="50px"
      >
        <div fxFlex="17%" fxHide.lt-md>
          <img src="assets/pages/history.png" />
        </div>
        <div fxFlex fxFlexAlign="center">
          <mat-card-title class="title-text">Cookwi c'est une histoire de cuisine et d'amour</mat-card-title>
          <mat-card-content class="content-text">
            <p>2020, lors du premier confinement, un chaton et un baluchon se retrouvèrent H24 à la maison, 
              <br>à regarder désespérément leur frigo, leurs téléphones, leurs placards...
              <br>C’est alors qu’une évidence s’est imposée à eux : <strong>faire de la cuisine, de la vraie !</strong>
            </p>
            <p>Ni une ni deux, ils partirent en quête des recettes de familles.
              <br>- “Allo Maman, tu pourrais me donner la recette de la tarte que tu faisais quand j’étais poussin ?
              <br>Celle que j’adorais !”
              <br>- “Attends, je l’avais notée sur une feuille que j’ai rangée quelquepart dans la cuisine ...
              <br>Je te l’envoie si je la retrouve ...”
            </p>
            <p>A force de recherches et de déchiffrages périlleux, l’idée d’un livre de recettes digital et interactif pour toute la tribu, pétrit dans la tête de nos deux amoureux.</p>
            <p>Cookwi était dans l’oeuf !</p>
            <p>Du poussin tout juste sorti de la coquille, au chef toqué, retrouvez en un clic votre recette favorite de confiture, de pain aux noix, de tarte aux fruits (vous pourrez varier les fruits, promis ;)).
            </p>
          </mat-card-content>
        </div>
      </mat-card>
    </div>
  </div>
</div>
