.recipe-card {
  .recipe-img {
    object-fit: cover;
    height: 240px;
    cursor: pointer;
  }
  mat-card-title {
    margin-left: -16px;
  }
  .card-action-button {
    .card-action-button-icon {
      font-size: 20px;
    }
  }
}
