@import '../../../../variables.scss';

.footer-container {
    z-index: 9999;
}

.footer-subcontainer {
    margin-bottom: 0;
    padding : 30px;
    color: white;
    font-size: 12px;
}

.copyright {
    padding-left: 30px;
    color: white;
    font-size: 12px;
}