/* You can add global styles to this file, and also import other style files */

@import "variables.scss";

html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

.root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.topbar {
  flex-shrink: 0;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

// BIG TITLE
.page-title-large {
  width: 100%;
  height: 400px;
  padding-top: 70px; // topbar absolute counts

  @media screen and (max-width: 959px) {
    height: 200px;
  }

  .page-title-inner {
    height: 100%;
    padding: 20px;
    margin: auto;

    @media screen and (max-width: 959px) {
      width: 100% !important;
    }

    .cookwi {
      height: 100%;
      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
      }
    }

    .title {
      width: 100%;
      height: 100%;
      text-align: right;
      padding-top: 70px;
      @media screen and (max-width: 959px) {
        padding-top: 15px !important;
      }
      @media screen and (max-width: 599px) {
        padding-top: 0px !important;
      }
      h1 {
        display: inline-block;
        background-color: white;
        font-weight: 500;
        padding-left: 80px;
        padding-right: 15px;
        margin: 0;
        margin-bottom: 40px;
      }
      .subtitle {
        p {
          display: inline-block;
          background-color: white;
          margin: 0;
          padding-left: 80px;
          padding-right: 15px;
          margin-top: 5px;
          font-size: 1.7em;
          font-weight: 400;
          @media screen and (max-width: 959px) {
            font-size: 1em;
          }
        }
      }
    }
  }
}

// NORMAL TITLE
.page-title {
  width: 100%;
  height: 150px;
  padding-top: 70px; // topbar absolute counts

  @media screen and (max-width: 959px) {
    height: 100px;
  }

  .page-title-inner {
    height: 100%;
    margin: auto;

    .title {
      width: 100%;
      height: 100%;
      text-align: left;
      padding-top: 45px;
      @media screen and (max-width: 959px) {
        padding-top: 30px !important;
      }
      h1 {
        display: inline-block;
        background-color: white;
        font-weight: 500;
        padding-right: 80px;
        padding-left: 15px;
        margin: 0;
      }
    }
  }
}

// BODY
.page-body {
  width: 100%;
  padding-top: 30px;
}

// GLOBAL
.centered-inner {
  width: 60% !important;
  margin: auto;

  @media screen and (max-width: 599px) {
    width: 95% !important;
  }
  @media screen and (min-width: 600px) and (max-width: 959px) {
    width: 90% !important;
  }
  @media screen and (min-width: 960px) and (max-width: 1279px) {
    width: 80% !important;
  }
  @media screen and (min-width: 1280px) and (max-width: 1919px) {
    width: 70% !important;
  }
}

.separator {
  display: block;
  width: 200px;
  height: 8px;
  background-color: $accent;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-size: 3em;
  @media screen and (max-width: 599px) {
    font-size: 1.5em;
  }
  @media screen and (min-width: 600px) and (max-width: 959px) {
    font-size: 2em;
  }
  @media screen and (min-width: 960px) and (max-width: 1919px) {
    font-size: 2.5em;
  }
}

.outer-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.page-container {
  z-index: 2;
  width: 70%;
  margin: auto;
  padding-bottom: 30px;
}

.page-spinner {
  z-index: 1000;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

// https://github.com/angular/components/issues/8416
.mat-checkbox-layout {
  white-space: normal !important;
}

.footer-container {
  z-index: 2;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 150px;
  background-color: $primary;
}

.grecaptcha-badge {
  visibility: hidden;
}
